<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://faniindexertrigger.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d1871f96-a9a2-40ff-bfe9-ad643dd31968/resourceGroups/st-faniIndexer-dev-001/providers/Microsoft.Web/sites/FaniIndexerTrigger</ResourceId>
    <UserName>$FaniIndexerTrigger</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://faniindexertrigger.scm.azurewebsites.net/</PublishUrl>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA/rSBVOIJukm4+Jpg8HRPJgAAAAACAAAAAAAQZgAAAAEAACAAAAAkETgh/sJKxm4ott0TKoUBw9OBulaCBulelaoceKA8LQAAAAAOgAAAAAIAACAAAAA2n6ZiQYpQEwTQ48pxXeEPweeWZND8YhA0+NzpC4bKfYAAAADVqQR8Erru41Fdoq6DK4Y87mu5dKZhJFgsrZELDWdUftlqiFV8pnFtIXXDyQjgwq66k0nu70qxofD56s3sXKozjIvi1AKsbQxO3Lup09BSflpIuTCgkujFA7P21CpGdh7isUkEw7RaMVQrIExIfkgX9oqqhhzusvoa627pGlAaqEAAAABxQtOqSIfFYnT873BOXZdV0C3vkvRuioLvfhgbhFTdSsR1jgJr/nYYWWBoYZQAaHCo8tceLUI+O7ni8iw1zJlW</EncryptedPassword>
    <History>False|2024-05-19T10:57:14.3723375Z;</History>
    <EnvironmentSubType>AzureFunctionProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>